.nav {
  margin-block: 1rem;
  padding: 0.5em 1em;
  background-color: var(--dark);
  color: var(--pop);
  /* font-family: var(--numFont); */
  font-weight: 500;
  /* border: 1px solid orange; */
  border: 3px groove var(--pop);
  box-shadow: 5px px 5px var(--drop-shadow);
  border-radius: var(--outside);
}

.nav:global.theme {
  overflow: hidden;
}

.nav:global.theme::before {
  background-image: radial-gradient(circle, white, black);
  mix-blend-mode: soft-light;
  opacity: 0.25;
}

.nav a {
  position: relative;
  padding: 0.5em 1.5em;
  text-transform: uppercase;
  font-variant: small-caps;
  font-size: smaller;
  line-height: 1em;
  letter-spacing: 1px;
  /* border-inline: 1.5px inset silver; */
  transition: 0.1s ease-out;
}

.nav a::before {
  content: "";
  position: absolute;
  inset: 0;
  border-block: 3px solid transparent;
  mix-blend-mode: soft-light;
  opacity: 0.5;
}

.nav a:not(:first-of-type)::before {
  border-left: 1.5px inset gray;
}
.nav a:not(:last-of-type)::before {
  border-right: 1.5px inset silver;
}

.nav a.active {
  cursor: default;
  color: var(--pop-alt);
}

/* .nav a:not(:last-of-type) {
  margin-right: 1em;
} */
/* ----------------------------------------- **
** ================\ HOVER /================ **
** ----------------------------------------- */

@media (hover: hover) {
  .nav a:not(.active):hover {
    color: var(--pop-alt);
    text-shadow: 1px 1px 3px var(--faint);
  }
}
